html,body {
	color: #000;
	width: 100%;
	overflow: hidden;
	height: 100%;
	padding: 0;
	* {
		cursor: default;
	}
	.channgepwd-container {
		height: 100%;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
	}
	.fixed {
		position: fixed !important;
		.name {
			position: absolute;
			width: 100%;
			height: 0.5rem !important;
			line-height: 0.5rem;
			font-size: 0.18rem;
			color: #fff;
			background: rgba(0, 0, 0, 0.5);
			bottom: 0;
			left: 0;
			text-indent: 0.14rem;
		}
	}
	button {
		-webkit-appearance: none;
		border: 0;
		margin: 0;
		padding: 0;
		box-shadow: none;
		outline: none;
		&:active {
			opacity: 0.6;
		}
	}
	.page {
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		&::-webkit-scrollbar {
			display: none;
		}
		position: relative;
		display: flex;
		justify-content: center;
		flex-direction: column;
        align-items: center;
		.logout-btn {
			position: absolute;
			z-index: 10;
			left: 0.2rem;
			top: 0.2rem;
			color: #fff;
			font-size: 0.3rem;
			padding: 0.1rem;
			opacity: 0;
        }
        .icon-img-box{
            width: 0.17rem;
            height: 0.17rem;
            position: absolute;
            top: 0.17rem;
            right: 0.17rem;
        }
        .icon-img{
            width: 0.17rem;
            height: 0.17rem;
        }
		&.changepwd-page {
			background: url(../assets/login-newbg.png) no-repeat center;
			background-size: auto 100%;
			.changepwd-box {
				background: #fff;
				border-radius: 0.33rem;
				width: 4.44rem;
				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: center;
                align-items: center;
                padding:  0.3rem 0;
                box-sizing: border-box;
				.title {
					width: 3.16rem;
					height: 0.34rem;
					margin: 0 auto 0.3rem;
					font-size: 0.22rem;
					font-weight: 600;
					display: flex;
					justify-content: space-around;
					align-items: center;
					border-bottom: 0.02rem solid #eee;
					.box-mline{
						width: 0.01rem;
						height: 0.2rem;
						border-left: 0.01rem solid #eee;
					}
					.none-color{
						height: 0.34rem;
						border-bottom: 0.03rem solid #fbab22;
						color: #fbab22;
					}
					.current-style{
						height: 0.34rem;
						color: #3882c2;
						border-bottom: 0.02rem solid #3882c2;
					}
				}
				.input-control {
					margin-bottom: 0.22rem;
					.input-box {
						height: 0.55rem;
						display: flex;
						align-items: center;
						width: 3.16rem;
						border-radius: 0.3rem;
						background: #edf5ff;
						padding: 0 0.02rem;
						box-sizing: border-box;
						input {
							border: 0;
							outline: none;
							margin: 0 0.14rem;
							height: 0.2rem;
							flex:1;
							font-size: 0.16rem;
							color: #333;
							border-left:0.01rem solid #999;
							padding-left: 0.1rem;
							box-sizing: border-box;
							background: #edf5ff;
							// .placeholder({
							// 	color: #b7b7b7;
							// })
						}
                        .newpwd-input{
							width: 2rem!important;
                            border:0;
                            margin: 0;
                        }
						.icon-img{
							margin-left: 0.14rem;
							width: 0.2rem;
							height: 0.26rem;
						}
					}
				}
				.code-inputbox{
					display: flex;
					justify-content: space-between;
					border:0!important;
					background: #fff!important;
					.input-left-box{
						width: 2.02rem!important;
						height: 0.52rem;
						display: flex;
						align-items: center;
						border-radius: 0.35rem;
						background: #edf5ff;
						input{
							width: 80%;
							color:#333;
						}
						// .icon-img{
						// 	width: 0.19rem;
						// 	height: 0.24rem;
						// }
					}
					.code-box{
						width: 33%;
						height: 0.5rem;
						text-align: center;
						display: flex;
						align-items: center;
						justify-content: center;
						border-radius: 0.06rem;
						background: url('../assets/btn-countdown-gray.png') no-repeat;
						background-size: 100% 100%;
						font-size: 0.17rem;
						color:#fff;
					}
					.open-code{
						color: #a66900;
						font-size: 0.17rem;
						background: url('../assets/btn-countdown.png') no-repeat;
						background-size: 100% 100%;
					}
				}
				
				.login-btn {
					width: 2.4rem;
					height: 0.6rem;
					background: url('../assets/btn-submit.png') no-repeat;
					background-size: 100% 100%;
					display: block;
					margin: 0 auto;
					margin-top: 0.2rem;
					&:active {
						opacity: 1;
					}
					&[disabled] {
						opacity: 0.6;
					}
				}
				.not-btn{
					width: 2.4rem;
					height: 0.57rem;
					display: block;
					margin: 0 auto;
					margin-top: 0.2rem;
					background: url('../assets/btn-submit-gray.png') no-repeat;
					background-size: 100% 100%;
					&:active {
						opacity: 1;
					}
					&[disabled] {
						opacity: 0.6;
					}
					
				}
				&.with-dentity{
					height: 3.6rem;
				}
				.login-dentity{
					width: 3rem;
				}
				.login-radio{
					width: 3.16rem;
					display: flex;
					justify-content: flex-start;
					align-items: center;
					margin-bottom: 0.22rem;
					font-size: 0.16rem;
					label {
						// width:0.6rem; 
						margin-right: 0.2rem;
						display: flex;
						justify-content: flex-start
					}
				}
			}
		}
	}
	.slave {
		position: fixed;
		width: 0.1rem;
		height: 0.1rem;
		background:rgba(0, 0, 0, 0);
		z-index: 10000;
		right: 0;
		top: 0;
	}

	// 安全验证弹框
	.safe-mask{
		width: 100%;
		height: 100%;
		position: fixed;
		top:0;
		left:0;
		background: rgba(0, 0, 0, 0.8);
		display: flex;
		justify-content: center;
		align-items: center;
		.safe-container{
			width: 4.42rem;
			padding: 0rem 0.32rem 0.3rem 0.32rem;
			box-sizing: border-box;
			background: #fff;
			border-bottom:0.02rem solid #3882c2;
			position: relative;
			border-radius: 0.2rem;
			.icon-img-box{
				width: 0.17rem;
				height: 0.17rem;
				position: absolute;
				top: 0.17rem;
				right: 0.17rem;
			}
			.icon-img{
				width: 0.17rem;
	            height: 0.17rem;
			}
			.safe-title{
				width: 100%;
				text-align: center;
				font-size: 0.22rem;
				color: #fbab22;
				margin-top: 0.3rem;
			}
			.pic-codewrap{
				width: 100%;
				display: flex;
				justify-content: space-between;
				margin-top: 0.34rem;
				.input-left-box{
					width: 2.6rem;
					height: 0.55rem;
					display: flex;
					justify-content: space-between;
					align-items: center;
					background: #edf5ff;
					border-radius: 0.32rem;
					padding: 0 0.2rem;
					box-sizing: border-box;
					.icon-img{
						width: 0.2rem;
						height: 0.24rem;
					}
					input{
					    flex:1;
						outline: none;
						border:none;
						background-color: #edf5ff;
						border-left: 0.01rem solid #999;
						font-size: 0.16rem;
						color: #999;
						padding:0 0.05rem;
						box-sizing: border-box;
						margin-left: 0.1rem;
					}
				}
				
				.pic-codebox{
					width: 1rem;
					height: 0.5rem;
					background-color: #fafafa;
					border-radius: 0.06rem;
					border: solid 0.01rem #b7b7b7;
					.icon-img{
						width: 100%;
						height: 100%;
						border-radius: 0.06rem;
					}
				}
			}
			.login-btn{
				width: 2.4rem;
				height: 0.6rem;
				background: url('../assets/btn-confirm.png') no-repeat;
				background-size: 100% 100%;
				display:block;
				margin: 0 auto;
				margin-top: 0.3rem;
			}
		}
	}
}