@import url(base.less);
@import url(~normalize.css/normalize.css);
@import url(./common.less);
html,body {
	width: 100%;
	overflow: hidden;
	height: 100%;
	padding: 0;
	.normal-font();
	.full-h {
		height: 100%;
		width: 100%;
	}
	.fixed {
		position: fixed !important;
		.name {
			position: absolute;
			width: 100%;
			height: 0.5rem;
			line-height: 0.5rem;
			font-size: 0.18rem;
			color: #fff;
			background: rgba(0, 0, 0, 0.5);
			bottom: 0;
			left: 0;
			text-indent: 0.14rem;
		}
	}
	button {
		-webkit-appearance: none;
		border: 0;
		margin: 0;
		padding: 0;
		box-shadow: none;
		outline: none;
		&:active {
			opacity: 0.6;
		}
	}
	.page {
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		position: relative;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		.enter-layer {
			.dialog {
				.content {
					display: block;
				}
			}
			.title-icon {
				.view-base("enter-title.png");
			}
			.enter-btn {
				.view-base("enter-btn.png");
				&:active {
					opacity: 1;
					.view-base("enter-btn-down.png");
				}
			}
		}
		.back-layer {
			.title-icon {
				.view-base("back-title.png");
			}
			.ok-btn {
				.view-base("ok-btn.png");
				&:active {
					opacity: 1;
					.view-base("ok-btn-off.png");
				}
			}
		}
		.exit-layer {
			.title-icon {
				.view-base("end-course.png");
			}
			.exit-btn {
				.view-base("end-course-btn.png");
				&:active {
					opacity: 1;
					.view-base("end-course-btn-down.png");
				}
			}
		}
		.gift-layer {
			.dialog {
				width: 7.3rem;
				height: 2.84rem;
				.gifts {
					margin-top: 0.5rem;
					width: 100%;
					display: flex;
					justify-content: space-around;
					.gift-item {
						width: 1.02rem;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						font-size: 0.22rem;
						color: #8b460e;
						.gift-icon {
							height: 1.2rem;
							img {
								width: 100%;
							}
						}
					}
				}
			}
		}
		&.next {
			transform: translateX(-100%);
		}
		.logout-btn {
			position: absolute;
			z-index: 10;
			left: 0.2rem;
			top: 0.2rem;
			color: #fff;
			font-size: 0.3rem;
			padding: 0.1rem;
			opacity: 0;
		}
		&.login-page {
			background: #484f70 url(../assets/login-bg.png) no-repeat center top;
			background-size: 9rem auto;
			.login-box {
				background: #fff;
				border-top: 0.06rem solid #3882c2;
				width: 4.44rem;
				height: 3.3rem;
				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				.title {
					margin: 0 auto 0.3rem;
					font-size: 0.24rem;
					color: #3882c2;
				}
				.input-control {
					margin-bottom: 0.22rem;
					.input-box {
						border: 1px solid #b7b7b7;
						height: 0.52rem;
						display: flex;
						align-items: center;
						width: 3.16rem;
						border-radius: 0.06rem;
						input {
							border: 0;
							outline: none;
							margin: 0 0.14rem;
							height: 0.3rem;
							flex: 1;
							font-size: 0.14rem;
							color: #333;
							.placeholder({
								color: #b7b7b7;
							})
						}
					}
				}
				.login-btn {
					margin-top: 0.18rem;
					width: 3.16rem;
					height: 0.52rem;
					color: #fff;
					font-size: 0.18rem;
					background: #3882c2;
					color: #fff;
					border-radius: 0.06rem;
					&:active {
						opacity: 1;
					}
					&[disabled] {
						opacity: 0.6;
					}
				}
			}
		}
		&.calendar-page {
			background: #2d3144;
			height: 100%;
			overflow: hidden;
			.calendar-inner {
				width: 12.68rem;
				margin: 0.16rem;
				background: #484f70;
				flex: 1;
				overflow-y: scroll;
				-webkit-overflow-scrolling: touch;
				padding: 0.3rem 0;
			}
			.courses {
				font-size: 0.19rem;
				color: #333;
				width: 8.2rem;
				margin: 0 auto;
				background: #fff;
				.title {
					height: 0.5rem;
					border-bottom: 1px solid #cccccc;
					padding-left: 0.2rem;
					.label {
						display: flex;
						align-items: center;
						width: 0.7rem;
						color: #b87947;
						font-size: 0.17rem;
						height: 0.48rem;
						border-bottom: 2px solid #b87947;
					}
				}
				.nothing {
					height: 2.56rem;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 0.2rem;
				}
				.row {
					padding: 0.16rem;
					display: flex;
					align-items: center;
					border-bottom: 1px solid #cccccc;
					.cover {
						width: 1.37rem;
						height: 0.92rem;
						margin-right: 0.12rem;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						overflow: hidden;
						img {
							width: 100%;
						}
					}
					.info {
						flex: 1;
						.name {
							font-size: 0.19rem;
							color: #363636;
							line-height: 0.21rem;
							font-weight: bold;
							margin-bottom: 0.16rem;
						}
						.index {
							margin-bottom: 0.18rem;
						}
						.index,.date {
							font-size: 0.17rem;
							color: #363636;
							line-height: 0.19rem;
						}
					}
					.start-btn {
						margin-right: 0.27rem;
						width: 1.38rem;
						height: 0.48rem;
						background: #3882c2;
						color: #fff;
						font-size: 0.2rem;
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 0.06rem;
						&::after {
							content: "开始上课";
						}
						&[disabled] {
							background: #b5b5b5;
							&::after {
								content: "已上课";
							}
						}
					}
				}
			}
		}
		&.student-page {
			transition: all 300ms 0s ease-in-out;
			background: url(../assets/student-bg.jpg) no-repeat center center;
			background-size: cover;
			justify-content: center;
			.student-icon {
				.view-base('student-icon.png');
				margin: 0 auto;
			}
			.time {
				margin-top: 0.88rem;
				margin-bottom: 0.9rem;
				font-size: 0.66rem;
				color: #fff;
				font-weight: bold;
				-webkit-text-stroke: 0.04rem #b05f1e;
				letter-spacing: 0.1rem;
				span {
					font-size: 1.12rem;
					color: #ffe15a;
				}
			}
			.lesson-box {
				border: 0.1rem solid #ffca59;
				border-radius: 0.8rem;
				background: #fff;
				font-size: 0.4rem;
				width: 11.82rem;
				height: 2.6rem;
				line-height: 1.5;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: space-around;
				.cover {
					width: 1.3rem;
					height: 1.3rem;
					display: flex;
					justify-content: center;
					align-items: center;
					overflow: hidden;
					img {
						width: 100%;
					}
					margin-left: 0.4rem;
					margin-right: 0.4rem;
				}
				.info {
					text-align: left;
					line-height: 1;
					flex: 1;
					.title {
						font-size: 0.4rem;
						color: #333333;
					}
					.teacher {
						font-size: 0.34rem;
						color: #333333;
						margin-top: 0.38rem;
						line-height: 0.36rem;
					}
				}
				.start-btn {
					margin: 0 0.4rem;
					.view-base("start-btn.png");
				}
			}
		}
		&.course-page {
			transition: all 300ms 0s ease-in-out;
			background: #2d3144;
			flex-direction: column;
			.inner {
				width: 12.72rem;
				margin: 0.14rem;
				display: flex;
				flex: 1;
				.controls {
					width: 0.93rem;
					height: 100%;
					background: #484f70;
					display: flex;
					flex-direction: column;
					align-items: center;
					button {
						width: 0.5rem;
						height: 0.5rem;
						font-size: 0.16rem;
						color: #ffffff;
						padding-top: 0.58rem;
						line-height: 0.18rem;
						text-align: center;
						margin-top: 0.6rem;
						&.course-start {
							margin-top: 0.3rem;
							background: url(../assets/course-start.png) no-repeat center top;
							background-size: 100% auto;
							&::after {
								content: "上课"
							}
							&[disabled] {
								background-image: url(../assets/course-start-down.png);
							}
						}
						&.course-pause {
							background: url(../assets/course-pause-down.png) no-repeat center top;
							background-size: 100% auto;
							&::after {
								content: "暂停"
							}
							&.paused {
								background-image: url(../assets/course-pause.png);
								&::after {
									content: "继续"
								}
							}
						}
						&.course-end {
							background: url(../assets/course-end.png) no-repeat center top;
							background-size: 100% auto;
							&::after {
								content: "结束"
							}
						}
					}
				}
				.content {
					position: relative;
					flex:1;
					margin: 0 0.14rem;
					display: flex;
					flex-direction: column;
					.course-content {
						flex: 1;
						.webview {
							width: 100%;
							height: 100%;
						}
					}
					.pausing {
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
						background: rgba(0, 0, 0, 0.5);
						img {
							width: 3.27rem;
							height: 1.19rem;
						}
					}
					.operations {
						height: 0.9rem;
						background: #3882c2;
						display: flex;
						button {
							width: 0.85rem;
							display: flex;
							justify-content: center;
							align-items: center;
							border-right: 1px solid #3078b6;
							&.course-clear {
								background: url(../assets/course-clear.png) no-repeat center center;
								background-size: 0.26rem 0.26rem;
							}
							&.course-handsup {
								background: url(../assets/course-handsup.png) no-repeat center center;
								background-size: 0.22rem 0.26rem;
								&.off {
									background-image: url(../assets/course-handsup-off.png);
									background-size: auto 0.38rem;
								}
							}
							&.course-gift {
								background: url(../assets/course-gift.png) no-repeat center center;
								background-size: 0.26rem 0.26rem;
								&.off {
									background-image: url(../assets/course-gift-off.png);
									background-size: auto 0.38rem;
								}
							}
							&.course-nextpage {
								background: url(../assets/course-nextpage.png) no-repeat center center;
								background-size: auto 0.26rem;
							}
							&.course-prevpage {
								background: url(../assets/course-prevpage.png) no-repeat center center;
								background-size: auto 0.26rem;
							}
							&.course-nextstep {
								background: url(../assets/course-nextstep.png) no-repeat center center;
								background-size: auto 0.26rem;
							}
							&.course-prevstep {
								background: url(../assets/course-prevstep.png) no-repeat center center;
								background-size: auto 0.26rem;
							}
						}
					}
				}
				.info {
					width: 3.46rem;
					display: flex;
					flex-direction: column;
					.avatars {
						flex: 1;
						display: flex;
						justify-content: space-between;
						.teacher-area {
							width: 2.64rem;
							.avatar {
								width: 100%;
								height: 3.24rem;
								position: relative;
								&:first-child {
									margin-bottom: 0.14rem;
								}
								.avatar-head {
									position: relative;
									width: 100%;
									height: 100%;
									overflow: hidden;
									display: flex;
									justify-content: center;
									align-items: center;
									img {
										height: 100%;
									}
								}
								.avatar-info {
									position: absolute;
									width: 100%;
									height: 0.5rem;
									line-height: 0.5rem;
									font-size: 0.18rem;
									color: #fff;
									background: rgba(0, 0, 0, 0.5);
									bottom: 0;
									left: 0;
									text-indent: 0.14rem;
								}
								.ph-text {
									font-size: 0.2rem;
									color: #c2c2c2;
									padding-top: 2.4rem;
									text-align: center;
									display: none;
								}
								&.nothing {
									background: #e7e7e7 url(../assets/course-ph.png) no-repeat center top 0.58rem;
									background-size: 1.45rem auto;
									.avatar-info,.avatar-head {
										display: none;
									}
									.ph-text {
										display: block;
									}
								}
							}
						}
						.student-area {
							width: 0.7rem;
							.student {
								width: 100%;
								height: 0.83rem;
								position: relative;
								margin-bottom: 0.15rem;
								.avatar-head {
									width: 100%;
									height: 100%;
									overflow: hidden;
									display: flex;
									justify-content: center;
									align-items: center;
									background-size: cover;
									background-repeat: no-repeat;
									background-position: center center;
								}
								.avatar-handsup {
									position: absolute;
									right: 0;
									top: 0;
									background: rgba(0,0,0,0.5) url(../assets/course-student-headsup.png) no-repeat left 0.05rem center;
									background-size: 0.15rem auto;
									height: 0.18rem;
									font-size: 0.16rem;
									line-height: 0.18rem;
									color: #fff;
									padding: 0.05rem 0.05rem 0.05rem 0.23rem;
								}
								.avatar-info {
									position: absolute;
									width: 100%;
									background: rgba(0, 0, 0, 0.5);
									height: 0.24rem;
									line-height: 0.24rem;
									font-size: 0.14rem;
									color: #ffffff;
									text-align: center;
									bottom: 0;
									left: 0;
								}
								&:hover {
									.summary .summary-inner {
										transform: translateX(0);
										opacity: 1;
									}
								}
								.summary {
									width: 2.43rem;
									height: 0.84rem;
									overflow: hidden;
									position: absolute;
									right: 0.7rem;
									top: 0;
									.summary-inner {
										width: 100%;
										height: 100%;
										transition: all 300ms 0s ease-in-out;
										transform: translateX(100%);
										background: rgba(88, 93, 122, 0.9);
										opacity: 0;
									}
									.items {
										height: 0.5rem;
										border-bottom: 1px solid #666e93;
										display: flex;
										align-items: center;
										justify-content: space-around;
										.item {
											text-align: center;
											.icon {
												width: 0.18rem;
												height: 0.18rem;
												margin-bottom: 0.03rem;
												background-size: auto 0.18rem;
												background-repeat: no-repeat;
												background-position: center center;
											}
											.num {
												font-size: 0.12rem;
												color: #ffffff;
												line-height: 0.14rem;
											}
											&.handsup {
												.icon { background-image: url(../assets/course-summary-handsup.png) }
											}
											&.speak {
												.icon { background-image: url(../assets/course-summary-speak.png) }
											}
											&.gift-1 {
												.icon { background-image: url(../assets/course-summary-1.png) }
											}
											&.gift-2 {
												.icon { background-image: url(../assets/course-summary-2.png) }
											}
											&.gift-3 {
												.icon { background-image: url(../assets/course-summary-3.png) }
											}
											&.gift-4 {
												.icon { background-image: url(../assets/course-summary-4.png) }
											}
										}
									}
									.btns {
										height: 0.33rem;
										display: flex;
										justify-content: space-between;
										align-items: center;
										padding: 0 0.12rem;
										button {
											height: 0.24rem;
											width: 0.96rem;
											border-radius: 0.08rem;
											margin-right: 0.1rem;
											&:last-child {
												margin-right: 0;
											}
											&.speak-btn {
												background:#3882c2 url(../assets/course-sound-off.png) no-repeat center center;
												background-size: 0.16rem;
												&.on {
													background-image: url(../assets/course-sound-on.png);
													background-size: 0.12rem;
												}
											}
											&.gift-btn {
												background:#3882c2 url(../assets/course-gift-student.png) no-repeat center center;
												background-size: 0.11rem;
											}
											&.view-btn {
												background:#3882c2 url(../assets/course-student-view.png) no-repeat center center;
												background-size: 0.16rem;
												&.on {
													background-image: url(../assets/course-student-view-on.png);
												}
											}
										}
									}
								}
								&.nothing {
									background: #e7e7e7 url(../assets/course-student-ph.png) no-repeat center center;
									background-size: 0.38rem auto;
									.avatar-info,.avatar-head {
										display: none;
									}
								}
							}
						}
					}
					.counter {
						height: 0.38rem;
						font-size: 0.16rem;
						color: #ececec;
						display: flex;
						align-items: center;
						margin-top: 0.2rem;
						.couter-g {
							width: 0.66rem;
							height: 0.34rem;
							line-height: 0.34rem;
							text-indent: 0.04rem;
							background: url(../assets/course-countdown-bg.png) no-repeat left center;
							background-size: auto 0.34rem;
							font-size: 0.24rem;
							color: #323232;
							letter-spacing: 0.13rem;
							&.last {
								width: 0.48rem;
							}
						}
						.split {
							height: 100%;
							border-right: 1px solid #4e5474;
							margin: 0 0.14rem;
							width: 0;
							overflow: hidden;
						}
						.time {
							font-size: 0.16rem;
							color: #ececec;
							line-height: 0.18rem;
							text-align: center;
							p {
								margin: 0;
								&:last-child {
									margin-top: 0.05rem;
								}
							}
						}
					}
				}
			}
		}
	}
}