@import url(base.less);
@import url(~normalize.css/normalize.css);
@import url(./common.less);
html,body {
	width: 100%;
	overflow: hidden;
	height: 100%;
	padding: 0;
	* {
		cursor: default;
	}
	.normal-font();
	.full-h {
		height: 100%;
		width: 100%;
	}
	video {
		object-fit: contain;
	}
	.fixed {
		position: fixed !important;
		.name {
			position: absolute;
			width: 100%;
			height: 0.5rem !important;
			line-height: 0.5rem;
			font-size: 0.18rem;
			color: #fff;
			background: rgba(0, 0, 0, 0.5);
			bottom: 0;
			left: 0;
			text-indent: 0.14rem;
		}
	}
	button {
		-webkit-appearance: none;
		border: 0;
		margin: 0;
		padding: 0;
		box-shadow: none;
		outline: none;
		&:active {
			opacity: 0.6;
		}
	}
	.record-back {
		width: 0.35rem;
		height: 0.35rem;
		background: url(../assets/tester-page-back.png) no-repeat center center;
		background-size: 100% auto;
		position: absolute;
		left: 0.2rem;
		top: 0.2rem;
		z-index: 20;
	}
	.page {
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		&::-webkit-scrollbar {
			display: none;
		}
		position: relative;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		.logout-btn {
			position: absolute;
			z-index: 10;
			left: 0.2rem;
			top: 0.2rem;
			color: #fff;
			font-size: 0.3rem;
			padding: 0.1rem;
			opacity: 0;
		}
		&.login-page {
			background: #484f70 url(../assets/login-bg.png) no-repeat center top;
			background-size: 9rem auto;
			.login-box {
				background: #fff;
				border-top: 0.06rem solid #3882c2;
				width: 4.44rem;
				height: 3.3rem;
				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				.title {
					margin: 0 auto 0.3rem;
					font-size: 0.24rem;
					color: #3882c2;
				}
				.input-control {
					margin-bottom: 0.22rem;
					.input-box {
						border: 1px solid #b7b7b7;
						height: 0.52rem;
						display: flex;
						align-items: center;
						width: 3.16rem;
						border-radius: 0.06rem;
						input {
							border: 0;
							outline: none;
							margin: 0 0.14rem;
							height: 0.3rem;
							flex: 1;
							font-size: 0.14rem;
							color: #333;
							.placeholder({
								color: #b7b7b7;
							})
						}
					}
				}
				.login-btn {
					margin-top: 0.18rem;
					width: 3.16rem;
					height: 0.52rem;
					color: #fff;
					font-size: 0.18rem;
					background: #3882c2;
					color: #fff;
					border-radius: 0.06rem;
					&:active {
						opacity: 1;
					}
					&[disabled] {
						opacity: 0.6;
					}
				}
			}
		}
		&.calendar-page {
			background: #2d3144;
			height: 100%;
			overflow: hidden;
			.calendar-inner {
				width: 12.68rem;
				margin: 0.16rem;
				background: #484f70;
				flex: 1;
				overflow-y: scroll;
				-webkit-overflow-scrolling: touch;
				padding: 0.3rem 0;
				&::-webkit-scrollbar {
					display: none;
				}
			}
			.courses {
				font-size: 0.19rem;
				color: #333;
				width: 8.2rem;
				margin: 0 auto;
				background: #fff;
				.title {
					height: 0.5rem;
					border-bottom: 1px solid #cccccc;
					padding-left: 0.2rem;
					.label {
						display: flex;
						align-items: center;
						width: 0.7rem;
						color: #b87947;
						font-size: 0.17rem;
						height: 0.48rem;
						border-bottom: 2px solid #b87947;
					}
				}
				.nothing {
					height: 1.24rem;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 0.2rem;
				}
				.row {
					padding: 0.16rem;
					display: flex;
					align-items: center;
					border-bottom: 1px solid #cccccc;
					.cover {
						width: 1.37rem;
						height: 0.92rem;
						margin-right: 0.12rem;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						overflow: hidden;
						img {
							width: 100%;
						}
					}
					.info {
						flex: 1;
						.name {
							font-size: 0.19rem;
							color: #363636;
							line-height: 0.21rem;
							font-weight: bold;
							margin-bottom: 0.16rem;
						}
						.index {
							margin-bottom: 0.18rem;
						}
						.index,.date {
							font-size: 0.17rem;
							color: #363636;
							line-height: 0.19rem;
						}
					}
					.start-btn,.record-btn,.download-btn {
						margin-right: 0.27rem;
						width: 1.38rem;
						height: 0.48rem;
						background: #3882c2;
						color: #fff;
						font-size: 0.2rem;
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 0.06rem;
						&::after {
							content: "开始上课";
						}
						&[disabled] {
							background: #b5b5b5;
							&::after {
								content: "已上课";
							}
						}
					}
					.record-btn {
						background: #8b460e;
						&::after {
							content: "课程回放";
						}
					}
					.download-btn {
						background: #ff9d1f;
						&::after {
							content: "下载课程包";
						}
					}
				}
			}
		}
		&.student-page {
			transition: all 300ms 0s ease-in-out;
			background: #2d3144;
			flex-direction: column;
			.inner {
				width: 12.72rem;
				margin: 0.1rem 0.15rem;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				flex: 1;
				background: #484f70;
				.student-box {
					background: #3b415f;
					border-radius: 0.2rem;
					padding: 0.25rem;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					.student-icon {
						width: 8.2rem;
						height: 3.4rem;
						background: url(../assets/student-icon.jpg) no-repeat center center;
					}
					.time {
						font-size: 0.3rem;
						color: #fff;
						padding: 0.3rem 0;
						span {
							color: #ffdf31;
							margin: 0 0.1rem;
						}
					}
					.no-lesson {
						width: 7.88rem;
						background: #fff;
						padding: 0.16rem;
						justify-content: center;
						align-items: center;
						text-align: center;
						display: flex;
						font-size: 0.16rem;
						line-height: 1.5;
					}
					.lesson-box {
						width: 7.88rem;
						background: #fff;
						padding: 0.16rem;
						display: flex;
						align-items: center;
						border-bottom: 1px solid #cccccc;
						.cover {
							width: 1.37rem;
							height: 0.92rem;
							margin-right: 0.12rem;
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;
							overflow: hidden;
							img {
								width: 100%;
							}
						}
						.info {
							flex: 1;
							.name {
								font-size: 0.19rem;
								color: #363636;
								line-height: 0.21rem;
								font-weight: bold;
								margin-bottom: 0.16rem;
							}
							.index {
								font-size: 0.17rem;
								color: #363636;
								line-height: 0.19rem;
								margin-bottom: 0.18rem;
							}
						}
						.start-btn,.record-btn,.download-btn {
							margin-right: 0.27rem;
							width: 1.38rem;
							height: 0.48rem;
							background: #3882c2;
							color: #fff;
							font-size: 0.2rem;
							display: flex;
							justify-content: center;
							align-items: center;
							border-radius: 0.06rem;
							&::after {
								content: "开始上课";
							}
							&[disabled] {
								background: #b5b5b5;
								&::after {
									content: "已上课";
								}
							}
							&.waiting {
								&::after {
									content: "上课时间未到"
								}
							}
						}
						.record-btn {
							background: #8b460e;
							&::after {
								content: "课程回放";
							}
						}
						.download-btn {
							background: #ff9d1f;
							&::after {
								content: "下载课程包";
							}
						}
					}
				}
			}
		}
		&.course-page {
			transition: all 300ms 0s ease-in-out;
			background: #2d3144;
			flex-direction: column;
			overflow: hidden;
			.student-area {
				.student {
					width: 0.88rem;
					height: 0.88rem;
					position: relative;
					margin-bottom: 0.19rem;
					.avatar-head {
						width: 100%;
						height: 100%;
						overflow: hidden;
						display: flex;
						justify-content: center;
						align-items: center;
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center center;
						div,video {
							background: #000;
							width: 100%;
							height: 100%;
						}
					}
					.avatar-handsup {
						position: absolute;
						left: 0;
						top: 0;
						background: rgba(0,0,0,0.5) url(../assets/course-student-headsup.png) no-repeat left 0.05rem center;
						background-size: 0.15rem auto;
						height: 0.18rem;
						font-size: 0.16rem;
						line-height: 0.18rem;
						color: #fff;
						padding: 0.05rem 0.05rem 0.05rem 0.23rem;
					}
					.avatar-info {
						z-index: 3;
						position: relative;
						width: 100%;
						background: #565b72;
						height: 0.16rem;
						line-height: 0.18rem;
						font-size: 0.12rem;
						text-overflow: ellipsis;
						color: #fff;
						display: flex;
						align-items: center;
						user-select: none;
						.avatar-rank {
							padding-left: 0.08rem;
							width: 0.11rem;
							height: 0.16rem;
							background: url(../assets/progress-arrow.png) no-repeat center center;
							background-size: 100% auto;
							position: absolute;
							top: -0.16rem;
							right: 0;
							line-height: 0.16rem;
							font-size: 0.12rem;
							color: #ffffff;
						}
						.avatar-bar {
							width: 0%;
							position: absolute;
							height: 100%;
							background: #ffc029;
							left: 0;
							top: 0;
							transition: all 200ms 0s ease-in-out;
							&.full {
								background: #00af43;
							}
						}
						.avatar-name {
							position: relative;
							z-index: 2;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							margin-left: 0.06rem;
							flex: 1;
						}
						.avatar-stars {
							background: url(../assets/gift-icon.png) no-repeat left center;
							background-size: auto 0.11rem;
							padding-left: 0.15rem;
							margin-right: 0.06rem;
							height: 0.16rem;
							font-size: 0.12rem;
							color:#ffffff;
							position: relative;
							z-index: 2;
						}
					}
					&.hover {
						.summary {
							width: 2rem;
							opacity: 1;
						}
					}
					.summary {
						width: 0;
						height: 1.04rem;
						overflow: hidden;
						position: absolute;
						left: 1.1rem;
						top: 0;
						transition: all 300ms 0s ease-in-out;
						opacity: 0;
						.summary-inner {
							width: 2rem;
							height: 100%;
							background: rgba(88, 93, 122, 0.9);
						}
						.items {
							height: 0.58rem;
							border-bottom: 1px solid #666e93;
							display: flex;
							align-items: center;
							justify-content: space-around;
							.item {
								text-align: center;
								.icon {
									width: 0.18rem;
									height: 0.18rem;
									margin-bottom: 0.03rem;
									background-size: auto 0.18rem;
									background-repeat: no-repeat;
									background-position: center center;
								}
								.num {
									font-size: 0.12rem;
									color: #ffffff;
									line-height: 0.14rem;
								}
								&.handsup {
									.icon { background-image: url(../assets/course-summary-handsup.png) }
								}
								&.speak {
									.icon { background-image: url(../assets/course-summary-speak.png) }
								}
								&.gift-1 {
									.icon { background-image: url(../assets/course-summary-1.png) }
								}
								&.gift-2 {
									.icon { background-image: url(../assets/course-summary-2.png) }
								}
								&.gift-3 {
									.icon { background-image: url(../assets/course-summary-3.png) }
								}
								&.gift-4 {
									.icon { background-image: url(../assets/course-summary-4.png) }
								}
							}
						}
						.btns {
							height: 0.33rem;
							display: flex;
							justify-content: space-around;
							align-items: center;
							padding: 0.04rem 0.12rem;
							&.student {
								justify-content: center;
							}
							button {
								height: 0.24rem;
								width: 0.96rem;
								border-radius: 0.08rem;
								margin-right: 0.1rem;
								&:last-child {
									margin-right: 0;
								}
								&.speak-btn {
									background:#3882c2 url(../assets/course-sound-off.png) no-repeat center center;
									background-size: 0.16rem;
									&.on {
										background-image: url(../assets/course-sound-on.png);
										background-size: 0.12rem;
									}
								}
								&.gift-btn {
									background:#3882c2 url(../assets/course-gift-student.png) no-repeat center center;
									background-size: 0.11rem;
								}
								&.view-btn {
									background:#3882c2 url(../assets/course-student-view.png) no-repeat center center;
									background-size: 0.16rem;
									&.on {
										background-image: url(../assets/course-student-view-on.png);
									}
								}
								&.warn-btn {
									background:#3882c2 url(../assets/course-student-warning.png) no-repeat center center;
									background-size: 0.16rem;
								}
							}
						}
					}
					&.nothing {
						background: #e7e7e7 url(../assets/course-student-ph.png) no-repeat center center;
						background-size: 0.38rem auto;
					}
				}
			}
			&.teacher {
				.controls-wrapper {
					position: relative;
					width: 0.09rem;
					z-index: 208;
				}
				.controls {
					position: absolute;
					left: -0.15rem;
					top: 0;
					z-index: 207;
					margin-right: 0.15rem;
					height: 100%;
					background: #484f70;
					display: flex;
					flex-direction: column;
					align-items: center;
					transition: all 200ms 0s ease-in-out;
					.switch-btn {
						position: absolute;
					}
					&.open {
						width: 1.05rem;
						.switch-btn {
							width: 0.34rem;
							height: 2.39rem;
							background: url(../assets/sidebar-close.png) no-repeat center center;
							background-size: 100% auto;
							right: -0.24rem;
							top: 50%;
							transform: translateY(-50%);
						}
						button {
							transform: scale(1);
							opacity: 1;
						}
					}
					&.close {
						width: 0.24rem;
						button {
							transform: scale(0);
							opacity: 0;
						}
						.switch-btn {
							width: 0.17rem;
							height: 0.31rem;
							background: url(../assets/sidebar-open.png) no-repeat center center;
							background-size: 100% auto;
							top: 50%;
							transform: translateY(-50%) translateX(-50%);
							left: 50%;
						}
					}
					.spliter {
						height: 1px;
						background: #2d3144;
						width: 100%;
						margin: 0.35rem auto 0;
					}
					
					button {
						width: 0.5rem;
						height: 0.5rem;
						font-size: 0.16rem;
						color: #ffffff;
						padding-top: 0.58rem;
						line-height: 0.18rem;
						text-align: center;
						margin-top: 0.6rem;
						transition: all 200ms 0s ease-in-out;
						&:active {
							opacity: 0.6;
						}
						&.page-back {
							margin-top: 0.3rem;
							background: url(../assets/page-back.png) no-repeat center top;
							background-size: 100% auto;
							&::after {
								content: "返回"
							}
						}
						&.course-start {
							margin-top: 0.3rem;
							background: url(../assets/course-start.png) no-repeat center top;
							background-size: 100% auto;
							&::after {
								content: "上课"
							}
							&[disabled] {
								background-image: url(../assets/course-start-down.png);
							}
						}
						&.course-pause {
							background: url(../assets/course-pause-down.png) no-repeat center top;
							background-size: 100% auto;
							&::after {
								content: "暂停"
							}
							&.paused {
								background-image: url(../assets/course-pause.png);
								&::after {
									content: "继续"
								}
							}
						}
						&.course-end {
							background: url(../assets/course-end.png) no-repeat center top;
							background-size: 100% auto;
							&::after {
								content: "结束"
							}
						}
						&.course-next {
							background: url(../assets/course-next.png) no-repeat center top;
							background-size: 100% auto;
							&::after {
								content: "切课"
							}
						}
						&.gohome-btn{
							background: url(../assets/course-gohome.png) no-repeat center top;
							background-size: 100% auto;
							&::after {
								content: "回首页"
							}
						}
						&.help-btn {
							border-radius: 50%;
							line-height: 0;
							padding: 0;
							position: absolute;
							left: 50%;
							transform: translateX(-50%);
							bottom: 0.2rem;
							background: url(../assets/course-tester.png) no-repeat center top;
							background-size: 100% auto;
						}
					}
				}
				.operations {
					position: relative;
					background: #3882c2;
					width: 0.8rem;
					height: 100%;
					display: flex;
					flex-direction: column;
					button {
						width: 0.8rem;
						flex: 1;
						position: relative;
						justify-content: center;
						align-items: center;
						span {
							position: absolute;
							right: 0.03rem;
							top: 50%;
							transform: translateY(-50%);
							width: 0.16rem;
							height: 0.16rem;
							border-radius: 50%;
							border: 1px solid #fff;
							color: #fff;
							font-size: 0.12rem;
							display: flex;
							justify-content: center;
							align-items: center;
						}
						&:hover {
							background-color: #207ac7 !important;
							opacity: 1;
						}
						&:active {
							background-color: #1e6fb4 !important;
							opacity: 1;
						}
						&.course-clear {
							background: url(../assets/course-clear.png) no-repeat center center;
							background-size: 0.26rem 0.26rem;
						}
						&.course-handsup {
							background: url(../assets/course-handsup.png) no-repeat center center;
							background-size: 0.22rem 0.26rem;
							&.off {
								background-image: url(../assets/course-handsup-off.png);
								background-size: auto 0.38rem;
							}
						}
						&.course-gift {
							background: url(../assets/course-gift.png) no-repeat center center;
							background-size: 0.26rem 0.26rem;
							&.off {
								background-image: url(../assets/course-gift-off.png);
								background-size: auto 0.38rem;
							}
						}
						&.course-magic {
							background: url(../assets/course-magic.png) no-repeat center center;
							background-size: 0.26rem 0.26rem;
							&.off {
								background-image: url(../assets/course-magic-off.png);
								background-size: auto 0.38rem;
							}
						}
						&.course-muteall {
							background: url(../assets/course-muteall.png) no-repeat center center;
							background-size: auto 0.26rem;
							&.off {
								background-image: url(../assets/course-muteall-off.png);
								background-size: auto 0.38rem;
							}
						}
						&.course-silent {
							background: url(../assets/course-silent.png) no-repeat center center;
							background-size: auto 0.26rem;
							&.off {
								background-image: url(../assets/course-silent-off.png);
								background-size: auto 0.38rem;
							}
						}
						&.course-rank {
							background: url(../assets/course-rank.png) no-repeat center center;
							background-size: auto 0.26rem;
							&.off {
								background-image: url(../assets/course-rank-off.png);
								background-size: auto 0.38rem;
							}
						}
						&.course-clip {
							background: url(../assets/course-clip.png) no-repeat center center;
							background-size: 0.26rem 0.26rem;
						}
						&.course-nextpage {
							background: url(../assets/course-nextpage.png) no-repeat center center;
							background-size: auto 0.26rem;
						}
						&.course-prevpage {
							background: url(../assets/course-prevpage.png) no-repeat center center;
							background-size: auto 0.26rem;
						}
						&.course-nextstep {
							background: url(../assets/course-nextstep.png) no-repeat center center;
							background-size: auto 0.26rem;
						}
						&.course-prevstep {
							background: url(../assets/course-prevstep.png) no-repeat center center;
							background-size: auto 0.26rem;
						}
					}
				}
				.course-confirm-mask {
					position: absolute;
					z-index: 2;
					left: 0;
					bottom:0.4rem;
					width: 100%;
					height: 1.5rem;
					display: flex;
					justify-content: center;
					.course-confirm-dialog {
						position: relative;
						margin-right: 0.88rem;
						background: rgba(0, 0, 0, 0.7);
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 0.2rem;
						width: 4rem;
						.c-btn {
							height: 0.3rem;
							border-radius: 0.3rem;
							background: #fff;
							color: #666;
							font-size: 0.14rem;
							text-align: center;
							line-height: 0.3rem;
							padding: 0 0.2rem;
							margin-top: 0.6rem;
							&:active {
								opacity: 0.8;
							}
							&.course-begin-btn {
								font-weight: bold;
								background: #ff2a2a;
								margin-left: 0.4rem;
								color: #fff;
							}
						}
						.course-start-time-tip {
							width: 100%;
							text-align: center;
							line-height: 0.5rem;
							position: absolute;
							top:0.24rem;
							color: #fff;
							font-size: 0.18rem;
						}
					}
				}
				.student-area {
					z-index: 206;
					height: 0.88rem;
					margin-bottom: 0.26rem;
					display: flex;
					.student {
						margin-right: 0.15rem;
						.summary {
							z-index: 10;
							left: 0.88rem;
						}
					}
					.dancing-container {
						position: relative;
						video {
							object-fit: cover;
						}
						margin-right: 0.15rem;
						width:2rem;
						height: 1.88rem;
						background: black;
						.dancing-student {
							video {
								object-fit: cover;
							}
						}
						.avatar-info-student {
							position: absolute;
							width: 100%;
							height: 0.3rem;
							line-height: 0.3rem;
							font-size: 0.14rem;
							color: #fff;
							background: rgba(0, 0, 0, 0.5);
							bottom: 0;
							left: 0;
							text-indent: 0.14rem;
						}
						.back-dance-btn {
							position: absolute;
							width: 0.3rem;
							height: 0.3rem;
							right: 0;
							top: 0;
							background: rgba(255, 0, 0, 0.5) url(../assets/close-white.png) no-repeat center center;
							background-size: 0.15rem 0.15rem;
							z-index: 2;
							&:active {
								background-color: rgba(255, 0, 0, 0.8);
							}
						}
					}
				}
				.course-content-area {
					flex: 1;
					width: 100%;
					display: flex;
					.course-content {
						margin: 0;
					}
				}
				.content {
					margin-right: 0.15rem;
				}
			}
			&.student {
				.student-area {
					position: relative;
					z-index: 102;
					width: 0.88rem;
					margin-left: 0.15rem;
				}
				.course-content {
					margin: 0 0.15rem 0 0;
				}
				.counter {
					&.icon {
						background: none !important;
						width: 0.3rem !important;
						height: 0.3rem !important;
						bottom: 0.18rem !important;
						right: 4.2rem !important;
					}
				}
				.inner {
					.entities-area {
						.teacher-area {
							width: 3.34rem;
							.avatars {
								.avatar {
									height: 3.34rem;
									&:first-child {
										height: 3.34rem;
									}
									&.nothing {
										background-position: center top 0.5rem;
									}
								}
							}
						}
					}
				}
			}
			.inner {
				position: relative;
				width: 12.72rem;
				margin: 0.1rem 0.15rem;
				display: flex;
				flex: 1;
				justify-content: space-between;
				.content {
					position: relative;
					flex:1;
					display: flex;
					flex-direction: column;
					.course-content {
						overflow: hidden;
						position: relative;
						flex: 1;
						.webview {
							width: 100%;
							height: 100%;
						}
					}
					.pausing {
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
						background: rgba(0, 0, 0, 0.5);
						img {
							width: 3.27rem;
							height: 1.19rem;
						}
					}
				}
				.entities-area {
					position: relative;
					display: flex;
					justify-content: space-between;
					&::-webkit-scrollbar {
						display: none;
					}
					overflow: scroll;
					-webkit-overflow-scrolling: touch;
					.counter {
						position: fixed;
						bottom: 0;
						right: 0.14rem;
						width: 3.84rem;
						background: #2d3144;
						height: 0.3rem;
						font-size: 0.16rem;
						color: #ececec;
						display: flex;
						align-items: center;
						z-index: 105;
						.process {
							margin-left: 0.2rem;
						}
						.help-btn {
							background: #fff url(../assets/sound.png) no-repeat center center;
							background-size: 0.2rem auto;
							width: 0.3rem !important;
							height: 0.3rem !important;
							border-radius: 50%;
							line-height: 0;
						}
						.couter-g {
							height: 0.3rem;
							line-height: 0.3rem;
							color: #ececec;
						}
					}
					.avatar-head {
						video {
							background: #000;
							object-fit: cover;
						}
					}
					.teacher-area {
						position: relative;
						width: 3.84rem;
						&.role-student {
							.avatars {
								.avatar:last-child {
									margin-bottom: 0;
									height: 3.5rem;
								}
							}
						}
						.avatars {
							.avatar {
								width: 100%;
								height: 3.2rem;
								position: relative;
								&:first-child {
									height: 3.84rem;
									margin-bottom: 0.14rem;
								}
								.avatar-head {
									position: relative;
									width: 100%;
									height: 100%;
									overflow: hidden;
									display: flex;
									justify-content: center;
									align-items: center;
									background-repeat: no-repeat;
									background-size: cover;
									background-position: center center;
									div,video {
										background: #000;
										width: 100%;
										height: 100%;
									}
								}
								.avatar-head-frame {
									position: absolute;
									top: 50%;
									width: 3.84rem*0.4;
									height: 3.84rem*0.4*1.25;
									left: 50%;  
									margin-left: -3.84rem*0.4/2;  
									margin-top: -3.84rem*0.4*1.25/2;
									text-align: center;
									border:1px dashed #ff1111;
								}
								.avatar-info {
									position: absolute;
									width: 100%;
									height: 0.5rem;
									line-height: 0.5rem;
									font-size: 0.18rem;
									color: #fff;
									background: rgba(0, 0, 0, 0.5);
									bottom: 0;
									left: 0;
									text-indent: 0.14rem;
								}
								.ph-text {
									font-size: 0.2rem;
									color: #c2c2c2;
									padding-top: 2.4rem;
									text-align: center;
									display: none;
								}
								.draft-text {
									display: none;
								}
								&.draft {
									.draft-text {
										background: #fff;
										display: block;
										position: absolute;
										width: 3.44rem;
										height: 2.28rem;
										overflow: scroll;
										left: 0;
										top: 0;
										padding: 0.2rem;
										padding-top: 0.7rem;
										font-size: 0.2rem;
										color: #666666;
										line-height: 1.5;
										&::before {
											content: "";
											position: absolute;
											background: url(../assets/draft.png) no-repeat center center;
											background-size: 100% auto;
											width: 1.14rem;
											height: 0.36rem;
											left: 50%;
											top: 0.2rem;
											margin-left: -0.57rem;
										}
										.none {
											display: none;
										}
									}
									.back-dance-btn {
										display: none;
									}
								}
								&.nothing {
									background: #e7e7e7 url(../assets/course-ph.png) no-repeat center center;
									background-size: 1.45rem auto;
									.avatar-info,.avatar-head,.back-dance-btn {
										display: none;
									}
									.ph-text {
										display: block;
									}
									.draft {
										display: block;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}