// 主样式，使用外部库 bootstrap 及 normalize
@import url(base.less);
@import (inline) url(normalize.css/normalize.css);
@import url(./common.less);
html,body {
	width: 100%;
	overflow: hidden;
	height: 100%;
	padding: 0;
	.normal-font();
	button {
		-webkit-appearance: none;
		border: 0;
		margin: 0;
		padding: 0;
		box-shadow: none;
		outline: none;
		&:active {
			opacity: 0.6;
		}
	}
	.page {
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		position: relative;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		.enter-layer {
			.dialog {
				.content {
					display: block;
				}
			}
			.title-icon {
				.view-base("enter-title.png");
			}
			.enter-btn {
				.view-base("enter-btn.png");
				&:active {
					opacity: 1;
					.view-base("enter-btn-down.png");
				}
			}
		}
		.back-layer {
			.title-icon {
				.view-base("back-title.png");
			}
			.ok-btn {
				.view-base("ok-btn.png");
				&:active {
					opacity: 1;
					.view-base("ok-btn-off.png");
				}
			}
		}
		.exit-layer {
			.title-icon {
				.view-base("end-course.png");
			}
			.exit-btn {
				.view-base("end-course-btn.png");
				&:active {
					opacity: 1;
					.view-base("end-course-btn-down.png");
				}
			}
		}
		.gift-layer {
			.title-icon {
				.view-base("gift-title.png");
				position: absolute;
				top: -1.36rem/2;
				left: 50%;
				margin-left: -1.93rem;
			}
			.dialog {
				width: 12.41rem;
				height: 5.2rem;
				.gifts {
					margin-top: 0.3rem;
					width: 100%;
					display: flex;
					justify-content: space-around;
					.gift-item {
						width: 1.88rem;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						font-size: 0.4rem;
						color: #8b460e;
						.gift-icon {
							height: 2.14rem;
							img {
								width: 100%;
							}
						}
						.gift-name {
							margin-top: 0.2rem;
						}
					}
				}
			}
		}
		&.next {
			transform: translateX(-100%);
		}
		.logout-btn {
			position: absolute;
			z-index: 10;
			left: 0.2rem;
			top: 0.2rem;
			color: #fff;
			font-size: 0.4rem;
			padding: 0.2rem;
		}
		&.login-page {
			background: url(../assets/login-bg.jpg) no-repeat center center;
			background-size: 100% 100%;
			.login-box {
				background: #fff;
				border: 0.1rem solid #f9d438;
				border-radius: 0.6rem;
				width: 8.94rem;
				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				.icon {
					.view-base("login-box.png");
					position: absolute;
					top: -2.67rem;
					left: 50%;
					margin-left: -3.52rem;
				}
				.title {
					.view-base("login-text.png");
					margin: 0.46rem auto 0.5rem;
				}
				.input-control {
					margin-bottom: 0.54rem;
					.input-box {
						border: 1px solid #8b460e;
						height: 1.1rem;
						display: flex;
						align-items: center;
						width: 6.96rem;
						border-radius: 0.2rem;
						input {
							border: 0;
							outline: none;
							margin: 0 0.37rem;
							height: 0.4rem;
							flex: 1;
							font-size: 0.34rem;
							color: #8b460e;
							.placeholder({
								color: #8b460e;
							})
						}
					}
				}
				.login-btn {
					margin-bottom: 0.5rem;
					.view-base("login-btn.png");
					&:active {
						opacity: 1;
						.view-base("login-btn-d.png");
					}
					&[disabled] {
						opacity: 0.6;
					}
				}
			}
		}
		&.calendar-page {
			transition: all 300ms 0s ease-in-out;
			background: url(../assets/calendar-bg.jpg) no-repeat center center;
			background-size: 100% 100%;
			justify-content: flex-start;
			.calendar-box {
				margin-top: 1.1rem;
			}
			.courses {
				font-size: 0.30rem;
				color: #333;
				width: 15.03rem;
				border: 12rem/100 solid #f9d438;
				border-radius: 8rem/100;
				margin: 0 auto 0.6rem;
				background: #fff;
				.title {
					height: 0.88rem;
					border-bottom: 1px solid #cccccc;
					padding-left: 0.3rem;
					.label {
						display: flex;
						align-items: center;
						width: 1.32rem;
						color: #b87947;
						font-size: 0.32rem;
						height: 0.86rem;
						border-bottom: 2px solid #b87947;
					}
				}
				.nothing {
					.view-base("no-course.png");
					margin: 1.88rem auto;
				}
				.row {
					padding: 0.3rem;
					display: flex;
					align-items: center;
					border-bottom: 1px solid #cccccc;
					.cover {
						width: 2.52rem;
						height: 1.7rem;
						margin-right: 0.23rem;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						overflow: hidden;
						img {
							width: 100%;
						}
					}
					.info {
						flex: 1;
						.name {
							font-size: 0.36rem;
							color: #363636;
							line-height: 0.38rem;
							font-weight: bold;
							margin-bottom: 0.34rem;
						}
						.index {
							margin-bottom: 0.34rem;
						}
						.index,.date {
							font-size: 0.28rem;
							color: #363636;
							line-height: 0.3rem;
						}
					}
					.start-btn {
						.view-base("start-course.png");
						&[disabled] {
							.view-base("start-course-off.png");
						}
					}
				}
			}
		}
		&.student-page {
			transition: all 300ms 0s ease-in-out;
			background: url(../assets/student-bg.jpg) no-repeat center center;
			background-size: cover;
			justify-content: center;
			.student-icon {
				.view-base('student-icon.png');
				margin: 0 auto;
			}
			.time {
				margin-top: 0.88rem;
				margin-bottom: 0.9rem;
				font-size: 0.66rem;
				color: #fff;
				font-weight: bold;
				-webkit-text-stroke: 0.04rem #b05f1e;
				letter-spacing: 0.1rem;
				span {
					font-size: 1.12rem;
					color: #ffe15a;
				}
			}
			.lesson-box {
				border: 0.1rem solid #ffca59;
				border-radius: 0.8rem;
				background: #fff;
				font-size: 0.4rem;
				width: 11.82rem;
				height: 2.6rem;
				line-height: 1.5;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: space-around;
				.cover {
					width: 1.3rem;
					height: 1.3rem;
					display: flex;
					justify-content: center;
					align-items: center;
					overflow: hidden;
					img {
						width: 100%;
					}
					margin-left: 0.4rem;
					margin-right: 0.4rem;
				}
				.info {
					text-align: left;
					line-height: 1;
					flex: 1;
					.title {
						font-size: 0.4rem;
						color: #333333;
					}
					.teacher {
						font-size: 0.34rem;
						color: #333333;
						margin-top: 0.38rem;
						line-height: 0.36rem;
					}
				}
				.start-btn {
					margin: 0 0.4rem;
					.view-base("start-btn.png");
				}
			}
		}
		&.course-page {
			transition: all 300ms 0s ease-in-out;
			position: absolute;
			left: 100%;
			top: 0;
			background: #81d8f5;
			flex-direction: row;
			.course-content {
				flex: 1;
				background: #fff;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 0.5rem;
				overflow: hidden;
				.webview {
					width: 100%;
					height: 100%;
				}
			}
			.sidebar {
				width: 4.78rem;
				height: 100%;
				overflow-y: scroll;
				-webkit-overflow-scrolling: touch;
				.sidebar-i {
					padding: 0.7rem 0.4rem;
				}
				.master-head {
					height: 3.85rem;
					border: 4px solid #fff;
					border-radius: 0.4rem;
					overflow: hidden;
					background: #fff;
					div {
						border-radius: 0.4rem;
					}
				}
				.line {
					.view-base("video-line.png");
					margin: 0.28rem 0 0.35rem -0.32rem;
				}
				.buttons {
					background: #fff;
					border-radius: 0.4rem;
					overflow: hidden;
					.row {
						display: flex;
						.cell {
							&.prev-page {
								background: url(../assets/prev-page.png) no-repeat center center;
								background-size: 0.78rem auto;
							}
							&.next-page {
								background: url(../assets/next-page.png) no-repeat center center;
								background-size: 0.78rem auto;
							}
							&.clear {
								background: url(../assets/clear.png) no-repeat center center;
								background-size: 0.71rem auto;
							}
							&.handsup {
								background: url(../assets/handsup.png) no-repeat center center;
								background-size: 0.72rem auto;
								&.disabled {
									background: url(../assets/handsup-off.png) no-repeat center center;
									background-size: 0.72rem auto;
								}
							}
							&.gift {
								background: url(../assets/gift.png) no-repeat center center;
								background-size: 0.73rem auto;
								&.disabled {
									background: url(../assets/gift-off.png) no-repeat center center;
									background-size: 0.73rem auto;
								}
							}
							&.course-close {
								background: url(../assets/stop-course.png) no-repeat center center;
								background-size: 0.74rem auto;
							}
							&.prev-step {
								background: url(../assets/prev-step.png) no-repeat center center;
								background-size: 0.78rem auto;
							}
							&.next-step {
								background: url(../assets/next-step.png) no-repeat center center;
								background-size: 0.78rem auto;
							}
							flex: 1;
							height: 1.2rem;
							border-right: 1px solid #e8e8e8;
							border-bottom: 1px solid #e8e8e8;
							&:last-child {
								border-right: 0;
							}
						}
					}
					.switch {
						height: 0.6rem;
						background: url(../assets/switch.png) no-repeat center center;
						background-size: 0.39rem auto;
						transition: all 200ms 0s ease-in-out;
						transform: rotate(180deg);
					}
					.last {
						display: none;
					}
					&.open {
						.last {
							display: flex;
						}
						.switch {
							transform: rotate(0);
						}
					}
				}
				.students {
					margin-top: 0.3rem;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					.cell {
						position: relative;
						border-top-left-radius: 0.2rem;
						border-top-right-radius: 0.2rem;
						border-bottom-left-radius: 0.05rem;
						border-bottom-right-radius: 0.05rem;
						width: 1.86rem;
						height: 2.5rem;
						margin-bottom: 0.2rem;
						background: #fff url(../assets/waiting.png) no-repeat center center;
						background-size: 1.04rem auto;
						.name {
							font-size: 0.22rem;
							color: #8b460e;
							height: 0.4rem;
							line-height: 0.4rem;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							padding-left: 0.04rem;
						}
						.hand {
							top: 0.06rem;
							position: absolute;
							right: 0.1rem;
							background: url(../assets/hands-up.png) no-repeat left center;
							background-size: 0.2rem auto;
							font-size: 0.28rem;
							line-height: 0.3rem;
							color: #8b460e;
							padding-left: 0.25rem;
							height: 0.3rem;
						}
						.video {
							width: 1.78rem;
							height: 2.06rem;
							margin: 0 auto;
						}
						.bar {
							position: absolute;
							bottom: 0.04rem;
							height: 0.35rem;
							background: rgba(0, 0, 0, 0.67);
							left: 0.04rem;
							width: 1.78rem;
							display: flex;
							align-items: center;
							.sound {
								margin-left: 0.17rem;
								.view-base("unmuted-icon.png");
								&.mute {
									.view-base("muted-icon.png");
								}
							}
							.ph {
								flex: 1;
							}
							.gift {
								font-size: 0.24rem;
								color: #ffca59;
								padding-left: 0.3rem;
								background: url(../assets/gift-icon.png) no-repeat center left;
								background-size: 0.23rem auto;
								margin-right: 0.17rem;
							}
						}
					}
				}
			}
			.back-btn {
				position: absolute;
				.view-base('back-btn.png');
				left: 0.58rem;
				top: 0.3rem;
				z-index: 100;
			}
		}
	}
}